.movie-container2 {
  margin: 20px;
  width: 100%;
  display: block;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.MuiGrid-container-37 {
  width: 100%;
  display: block;
  flex-wrap: wrap;
  box-sizing: border-box;
}
